:root {
  --basic_color: #23527c;
  --card_background: #f5f5f5;
  --border_color: gray;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  height: 100vh;
  margin: 5vh auto 0 auto;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

/*--------------CÍM---------------*/

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  color: var(--basic_color);
}

.title h1 {
  margin-left: 40px;
}

.title .icons ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.title .icons ul li {
  margin-left: 10px;
}

.fa {
  font-size: 20px;
  width: 40px;
  text-decoration: none;
  color: var(--basic_color);
}

.fa:hover {
  opacity: 0.7;
}

/*--------------HEADER---------------*/

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header .tab {
  display: flex;
  width: 100%;
  justify-content: center;
}

.tablinks {
  border: none;
  background-color: transparent;
  color: var(--basic_color);
  padding: 30px 30px 10px 30px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  position: relative;
}

.tablinks:hover::after {
  content: "";
  display: block;
  width: 60%;
  border-bottom: solid 2px var(--basic_color);
  position: absolute;
  left: 1;
  padding-bottom: 5px;
}

.tablinks.active::after {
  content: "";
  display: block;
  width: 50%;
  border-bottom: solid 2px var(--basic_color);
  position: absolute;
  left: 1;
  padding-bottom: 5px;
}

/*--------------MAIN---------------*/

.main {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.section {
  width: 60%;
}

.card {
  background-color: var(--card_background);
  padding: 20px;
  margin-top: 20px;
  border: 1px solid var(--border_color);
  border-radius: 7px;
}

.card h3 {
  text-align: justify;
  margin-bottom: 10px;
}

.card h5 {
  color: gray;
  margin-bottom: 10px;
  margin-left: 10px;
}

.card h4 {
  text-align: justify;
  margin-bottom: 10px;
}

.card .imgright {
  float: right;
  width: 250px;
  height: 140px;
  margin-left: 10px;
  border-radius: 7px;
}

.card .imgleft {
  float: left;
  width: 250px;
  height: 140px;
  margin-right: 10px;
  border-radius: 7px;
}

.card .imgcenter {
  width: 80%;
  border-radius: 7px;
}

.card .pleft {
  text-align: justify;
}

.card .pright {
  text-align: justify;
}

/*--------------ASIDE---------------*/

.aside {
  width: 40%;
  padding-left: 15px;
}

.cardj {
  background-color: var(--card_background);
  padding: 20px;
  margin-top: 20px;
  border: 1px solid gray;
  border-radius: 7px;
}

.cardj h3 {
  color: var(--basic_color);
  margin-bottom: 15px;
}

.cardj ul {
  list-style-type: none;
}

.cardj ul li {
  margin-bottom: 10px;
}

.cardj ul li a {
  text-decoration: none;
}

.cardj h4,
p {
  margin-top: 15px;
}

#link {
  text-decoration: none;
}

/*--------------FOOTER---------------*/

.footer {
  width: 100%;
  text-align: center;
  color: var(--basic_color);
  margin: 60px 0 20px 0;
}

@media screen and (max-width: 850px) {
  .tab,
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 800px) {
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title h1 {
    margin-bottom: 20px;
  }
}
